*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito Sans', sans-serif; }

.heading1 {
  font-size: 4rem;
  color: blue;
  background-color: crimson; }
