*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color: white; }

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'PT Sans Narrow', sans-serif;
  font-family: 'Roboto', sans-serif;
  border: 2px solid red;
  background: #19191B; }

a {
  font-family: Nunito Sans;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  color: white;
  text-decoration: none; }

.heading1 {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 700;
  font-size: 5.3rem;
  line-height: 5.6rem;
  color: #FFFFFF;
  width: 38rem;
  text-align: left;
  margin: 8rem auto 1rem auto; }

.heading6 {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.6rem;
  text-align: left;
  letter-spacing: -0.43573px;
  color: rgba(255, 255, 255, 0.7);
  width: 35rem;
  margin: 2rem auto; }

.navigation {
  width: 84vw;
  height: 3rem;
  margin: 2.7rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navigation__logo-box {
    width: 8.8rem;
    height: 2.7rem; }
  .navigation__list {
    width: 27rem;
    height: 1.6rem;
    list-style: none;
    display: flex;
    justify-content: space-between; }
  .navigation__btn {
    width: 10.5rem;
    height: 3rem;
    font-family: Nunito Sans;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.4rem;
    text-align: center;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 6px; }
  .navigation__logo {
    width: 8.8rem;
    height: 2.7rem; }
  .navigation__item {
    font-family: Nunito Sans;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.6rem;
    text-align: right;
    text-decoration: none;
    color: white; }

.header {
  width: 84vw;
  height: 48rem;
  margin: 2.7rem auto;
  display: flex;
  justify-content: space-between; }
  .header__discription {
    width: 40vw;
    height: 48rem; }
  .header__pic {
    width: 40vw;
    height: 48rem;
    background-color: orange; }
  .header__rectangle {
    position: absolute;
    width: 309.94px;
    height: 928.7px;
    background: linear-gradient(180deg, rgba(251, 168, 28, 0.1066) 0%, rgba(224, 86, 136, 0.0615) 100%);
    filter: blur(199.107px);
    border-radius: 154.972px;
    transform: rotate(65.71deg); }
  .header__btn {
    width: 13.6rem;
    height: 3.8rem;
    background: #5454D4;
    color: white;
    margin-left: 12rem; }
