*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color: white; }

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  border: 2px solid red;
  background: #19191B; }

.heading1 {
  font-size: 4rem;
  color: blue;
  background-color: crimson; }

.navigation {
  width: 84vw;
  height: 3rem;
  margin: 2.7rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navigation__logo-box {
    width: 8.8rem;
    height: 2.7rem; }
  .navigation__list {
    width: 27rem;
    height: 1.6rem;
    list-style: none;
    display: flex;
    justify-content: space-between; }
  .navigation__btn {
    width: 10.5rem;
    height: 3rem;
    font-family: Nunito Sans;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.4rem;
    text-align: center;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 6px; }
  .navigation__logo {
    width: 8.8rem;
    height: 2.7rem; }
  .navigation__item {
    font-family: Nunito Sans;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.6rem;
    text-align: right;
    text-decoration: none;
    color: white; }
