*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color: white; }

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'PT Sans Narrow', sans-serif;
  font-family: 'Roboto', sans-serif;
  border: 2px solid red;
  background: #19191B; }

a {
  font-family: Nunito Sans;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  color: white;
  text-decoration: none; }

.heading1 {
  font-family: 'Nunito Sans';
  font-style: bold;
  font-weight: 900;
  font-size: 5.3rem;
  line-height: 5.6rem;
  color: #FFFFFF;
  width: 38rem;
  text-align: left;
  margin: 8rem auto 1rem auto; }
  @media only screen and (max-width: 600px) {
    .heading1 {
      font-size: 4.2rem; } }

.heading2 {
  font-family: 'Nunito Sans';
  font-style: bold;
  font-weight: 900;
  font-size: 4rem;
  line-height: 5rem;
  width: 40vw;
  text-align: left;
  color: #FFFFFF;
  padding-right: 18rem; }
  @media only screen and (max-width: 900px) {
    .heading2 {
      font-size: 3rem;
      width: 60vw; } }
  @media only screen and (max-width: 600px) {
    .heading2 {
      width: 84vw;
      padding: .5rem; } }

.heading2__1 {
  font-family: 'Nunito Sans';
  font-style: bold;
  font-weight: 900;
  font-size: 4rem;
  line-height: 5rem;
  width: 40vw;
  text-align: center;
  color: #FFFFFF;
  margin: 0rem 18rem; }
  @media only screen and (max-width: 900px) {
    .heading2__1 {
      font-size: 3rem;
      width: 70vw; } }
  @media only screen and (max-width: 600px) {
    .heading2__1 {
      font-size: 3.6rem;
      width: 84vw;
      font-weight: 700;
      display: inline-block;
      text-align: left;
      margin: 1rem auto; } }

.heading3 {
  font-family: 'Nunito Sans';
  font-size: 3.8rem;
  font-weight: 800;
  line-height: 5.3rem;
  letter-spacing: 0em;
  text-align: center;
  margin: 4rem auto; }

.heading3__1 {
  font-family: 'Nunito Sans';
  font-size: 3.8rem;
  font-weight: 900;
  line-height: 5.3rem;
  letter-spacing: 0em;
  text-align: left;
  margin: 1rem auto 1rem 12rem; }
  @media only screen and (max-width: 900px) {
    .heading3__1 {
      font-size: 3rem; } }
  @media only screen and (max-width: 600px) {
    .heading3__1 {
      font-weight: 700;
      margin: 1rem auto; } }

.heading4 {
  font-family: 'Nunito Sans';
  font-size: 19px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center; }

.heading6 {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.6rem;
  text-align: left;
  letter-spacing: -0.43573px;
  color: rgba(255, 255, 255, 0.7);
  width: 35rem;
  margin: 2rem auto; }
  @media only screen and (max-width: 600px) {
    .heading6 {
      font-size: 1.6rem; } }

.heading7 {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 26px;
  letter-spacing: -0.43573px;
  width: 40vw;
  color: rgba(255, 255, 255, 0.7); }
  @media only screen and (max-width: 600px) {
    .heading7 {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 24px;
      width: 84vw; } }

.heading8 {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13.2738px;
  line-height: 19px;
  padding: 1rem 3rem;
  text-align: center;
  letter-spacing: -0.331985px;
  color: rgba(255, 255, 255, 0.7); }

.navigation {
  width: 84vw;
  height: 3rem;
  margin: 2.7rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navigation__logo-box {
    width: 8.8rem;
    height: 2.7rem; }
  .navigation__list {
    width: 27rem;
    height: 1.6rem;
    list-style: none;
    display: flex;
    justify-content: space-between; }
  .navigation__btn {
    width: 10.5rem;
    height: 3rem;
    font-family: Nunito Sans;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.4rem;
    text-align: center;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 6px; }
  .navigation__logo {
    width: 8.8rem;
    height: 2.7rem; }
  .navigation__item {
    font-family: Nunito Sans;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.6rem;
    text-align: right;
    text-decoration: none;
    color: white; }

.header {
  width: 84vw;
  height: 48rem;
  margin: 2.7rem auto;
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 600px) {
    .header {
      display: block;
      height: 98rem; } }
  .header__discription {
    width: 40vw;
    height: 48rem; }
  .header__pic {
    width: 40vw;
    height: 48rem;
    margin: 1rem auto; }
    @media only screen and (max-width: 600px) {
      .header__pic {
        margin: 1rem auto;
        width: 84vw; } }
  .header__rectangle {
    width: 40vw;
    height: 48rem;
    margin-top: -10rem; }
    @media only screen and (max-width: 600px) {
      .header__rectangle {
        margin-top: -12rem;
        width: 84vw; } }
  .header__btn {
    width: 13.6rem;
    height: 3.8rem;
    background: #5454D4;
    color: white;
    margin-left: 12rem;
    margin-top: 4rem; }
    @media only screen and (max-width: 600px) {
      .header__btn {
        margin-left: 1rem;
        margin-top: 2rem; } }
  .header__play {
    width: 7rem;
    height: 8rem; }
    @media only screen and (max-width: 600px) {
      .header__play {
        margin-left: 1rem;
        margin-top: -6rem; } }
  .header__cross {
    width: 4rem;
    height: 4rem;
    margin-top: -4rem;
    margin-left: 40rem;
    transform: rotate(-31.42deg); }
    @media only screen and (max-width: 600px) {
      .header__cross {
        margin-left: 16rem;
        margin-top: -4rem; } }
  .header__circle {
    width: 6.2rem;
    height: 7.3rem;
    transform: rotate(-27.37deg);
    margin-top: 4rem;
    margin-left: 38rem; }
    @media only screen and (max-width: 600px) {
      .header__circle {
        margin-left: 12rem;
        margin-top: 2rem; } }
  .header__zig {
    width: 63.05px;
    height: 18.58px;
    margin-right: 2rem; }
    @media only screen and (max-width: 600px) {
      .header__zig {
        margin-top: -4rem;
        margin-right: 4rem; } }

.cta {
  width: 84vw;
  height: 57rem;
  margin: 12rem auto; }
  @media only screen and (max-width: 600px) {
    .cta {
      height: 40rem; } }
  .cta__text {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 600px) {
      .cta__text {
        display: block;
        height: 18rem; } }
  .cta__bg {
    width: 84vw;
    height: 54rem;
    margin-top: -6rem;
    background: url(../img/ctapic4.png);
    background-size: cover; }
    @media only screen and (max-width: 600px) {
      .cta__bg {
        height: 18rem;
        margin-top: 2rem; } }
  .cta__vedio {
    width: 84vw;
    height: 54rem; }
  .cta__play {
    width: 8.23rem;
    height: 8.23rem;
    margin: 24rem 64rem;
    cursor: pointer; }
    @media only screen and (max-width: 600px) {
      .cta__play {
        margin-left: 11rem;
        margin-top: 4rem; } }

.service {
  width: 84vw;
  height: 56rem;
  margin: 6rem auto; }
  @media only screen and (max-width: 600px) {
    .service {
      height: 155rem; } }
  .service__cards {
    width: 84vw;
    height: 19rem;
    margin: 1rem auto;
    display: flex;
    justify-content: space-around; }
    @media only screen and (max-width: 600px) {
      .service__cards {
        display: block;
        height: 55rem; } }
  .service__card {
    width: 25.5rem;
    height: 18rem;
    margin: 2rem auto; }
  .service__icon {
    width: 45.79px;
    height: 45.79px;
    margin: 1rem 1rem 1rem 10rem; }
  .service__play {
    width: 7rem;
    height: 8rem;
    margin-left: 14rem;
    margin-top: 4rem; }
    @media only screen and (max-width: 600px) {
      .service__play {
        margin: 2rem auto; } }
  .service__cross {
    width: 4rem;
    height: 4rem;
    margin-top: 8rem;
    transform: rotate(-31.42deg); }
    @media only screen and (max-width: 600px) {
      .service__cross {
        margin-left: 1rem;
        margin-top: 2rem; } }
  .service__heading {
    display: flex; }
    @media only screen and (max-width: 600px) {
      .service__heading {
        display: block; } }

.potofolio {
  width: 74vw;
  height: 45rem;
  margin: 4rem auto; }
  @media only screen and (max-width: 900px) {
    .potofolio {
      height: 55rem; } }
  @media only screen and (max-width: 600px) {
    .potofolio {
      height: 62rem; } }
  .potofolio__cards {
    width: 64vw;
    height: 30rem;
    padding: 2rem;
    margin: 1rem auto;
    display: flex;
    justify-content: space-evenly; }
    @media only screen and (max-width: 600px) {
      .potofolio__cards {
        display: block;
        height: 36rem; } }
  .potofolio__card1 {
    width: 22rem;
    height: 17rem;
    margin-top: -2rem;
    background: url(../img/pc1.png);
    border-radius: 8px; }
    @media only screen and (max-width: 600px) {
      .potofolio__card1 {
        margin: 1rem auto;
        height: 30rem; } }
  .potofolio__card2 {
    width: 22rem;
    height: 17rem;
    margin-top: 8rem;
    background: url(../img/pc2.png);
    border-radius: 8px; }
    @media only screen and (max-width: 600px) {
      .potofolio__card2 {
        height: 0rem;
        margin-top: 0rem; } }
  .potofolio__card3 {
    width: 22rem;
    height: 17rem;
    margin-top: 17rem;
    background: url(../img/pc3.png);
    border-radius: 8px; }
    @media only screen and (max-width: 600px) {
      .potofolio__card3 {
        margin-top: 0rem;
        height: 0rem; } }
  .potofolio__circle {
    width: 6.2rem;
    height: 7.3rem;
    transform: rotate(-27.37deg);
    margin-top: 4rem;
    margin-right: 4rem; }
    @media only screen and (max-width: 600px) {
      .potofolio__circle {
        margin-top: -4rem;
        margin-left: 18rem; } }
  .potofolio__heading {
    height: 8rem;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 900px) {
      .potofolio__heading {
        margin-bottom: 8rem; } }
    @media only screen and (max-width: 600px) {
      .potofolio__heading {
        display: block; } }
  .potofolio__zig {
    width: 63.05px;
    height: 18.58px;
    margin-right: 2rem; }
  .potofolio__dublebtn {
    width: 9rem;
    height: 4rem;
    margin-left: 10rem;
    cursor: pointer; }

.contact {
  width: 84vw;
  height: 33rem;
  margin: 12rem auto; }
  .contact__heading {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    @media only screen and (max-width: 600px) {
      .contact__heading {
        display: block;
        margin: 4rem auto; } }
  .contact__btn {
    width: 13.4rem;
    height: 4rem;
    color: white;
    background: #5454D4;
    border-radius: 2.6px; }
    @media only screen and (max-width: 600px) {
      .contact__btn {
        margin: 4rem auto; } }
  .contact__circle {
    width: 6.2rem;
    height: 7.3rem;
    transform: rotate(-27.37deg);
    margin-top: 8rem;
    text-align: left; }
    @media only screen and (max-width: 600px) {
      .contact__circle {
        margin-top: -6rem; } }
