*,
*::before,
*::after{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html{
   box-sizing: border-box;
   font-size: 62.5%;
   color: white;
}
body{
   font-family: 'Montserrat', sans-serif;
   font-family: 'Nunito Sans', sans-serif;
   font-family: 'PT Sans Narrow', sans-serif;
   font-family: 'Roboto', sans-serif;
   border: 2px solid red;
   background: #19191B; 
     
}
a{
   font-family: Nunito Sans;
   font-size: 13px;
   font-weight: 700;
   line-height: 18px;
   letter-spacing: 0em;
   color:white;
   text-decoration: none;

}