*,
*::before,
*::after{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html{
   box-sizing: border-box;
   font-size: 62.5%;
   color: white;
}
body{
   font-family: 'Montserrat', sans-serif;
   font-family: 'Nunito Sans', sans-serif;
   border: 2px solid red;
   background: #19191B;
   
     
}