.contact{
    width: 84vw;
    height: 33rem;
    margin: 12rem auto;
    
    &__heading{
        display: flex;
        justify-content: space-around;
        align-items: center;
        @include respond(phone) {
            display: block; 
            margin: 4rem auto;
            
        }     
    }
    &__btn{
        width: 13.4rem;
        height: 4rem;
        color: white;
        background: #5454D4;
        border-radius: 2.6px;
        @include respond(phone) {
            margin: 4rem auto;        
            
        }     
         
    }
    &__circle{
        width: 6.2rem;
        height: 7.3rem;
        transform: rotate(-27.37deg);
        margin-top: 8rem;
        text-align: left;
        @include respond(phone) {
           
            margin-top:-6rem;
            
        }     
        
    }
   
}