.cta{
    width: 84vw;
    height: 57rem;
    margin: 12rem auto;
  

    &__text{
        display: flex;
        justify-content: space-between;
        
    }
    &__bg{
        width: 84vw;
        height: 54rem;
        margin-top: -6rem;
        background: url(../img/ctapic4.png);
        background-size: cover;
    }
    &__play{
        width: 8.23rem;
        height: 8.23rem;
        margin: 18rem 65rem;
        cursor: pointer;
    }
}