.cta{
    width: 84vw;
    height: 57rem;
    margin: 12rem auto;
    @include respond(phone) {
            
       height: 40rem;
    } 

  

    &__text{
        display: flex;
        justify-content: space-between;
     
        @include respond(phone) {
            display: block;
            height: 18rem;
        } 
        
    }
    &__bg{
        width: 84vw;
        height: 54rem;
        margin-top: -6rem;
        background: url(../img/ctapic4.png);
        background-size: cover;
        @include respond(phone) {
            
            height: 18rem;
            margin-top: 2rem;
        } 
    }
    &__play{
        width: 8.23rem;
        height: 8.23rem;
        margin: 18rem 65rem;
        cursor: pointer;
        @include respond(phone) {
            
            margin-left: 11rem;
            margin-top: 4rem;
        } 
    }
}