.footer{
    width: 84vw;
    height: 14rem;
    margin: 2.7rem auto;    

    display: flex;
    justify-content: space-around;
    align-items: center;
 
    @include respond(phone) {        
    
        display: block;
        text-align: center; 
        
        margin: 1rem auto;  
        
        
    } 

    &__logo-box{
        width: 8.8rem;
        height: 2.7rem;
        margin: 2rem auto;
       
        
    }
   

    &__list{
        width: 58vw;
        height: 1.6rem;  
        list-style: none;     

        display: flex;
        justify-content: space-around;  
       
        @include respond(phone) {
        width: 30vw;
        display: block;
        height: 6.8rem;
        margin: 1rem auto; 
        text-align: center;

        justify-content: center;
        
        }     
    }   

    &__logo{
        width: 8.8rem;
        height: 2.7rem;  
   
    }

    &__item{
        font-family: Nunito Sans;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.6rem;
        text-align: center;
        text-decoration: none;
        color: white;   
        display: flex;
        justify-content: space-between;
       

        @include respond(phone) {

   
            margin: 1rem auto;    
            text-align: center;
            justify-content: center;  
            align-items: center;
                       
        }     
        
    }
}