.navigation{
    width: 84vw;
    height: 3rem;
    margin: 2.7rem auto;  
    @include respond(phone) {
        height: 10rem;
       
    }   

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo-box{
        width: 8.8rem;
        height: 2.7rem;
        
    }
   

    &__list{
        width: 27rem;
        height: 1.6rem;  
        list-style: none;     

        display: flex;
        justify-content: space-between;
        @include respond(phone) {
            height: 0rem;
            width: 0rem;

        }       
    }

    &__btn{
        width: 10.5rem;
        height: 3rem;        
        font-family: Nunito Sans;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.4rem;        
        text-align: center;
        color: white;
        background-color: transparent;
        border: 1px solid white;
        cursor: pointer;
        border-radius: 6px;
        @include respond(phone) {
            height: 0rem;
            width: 0rem;
            font-size: 0rem;
           
        }       
    }

    &__logo{
        width: 8.8rem;
        height: 2.7rem;       
    }

    &__item{
        font-family: Nunito Sans;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.6rem;
        text-align: right;
        text-decoration: none;
        color: white;
        @include respond(phone) {
            height: 0rem;
            width: 0rem;
            font-size: 0rem;

        }  
    }

    
&__burger-btn {

    @include respond(phone) {
           
    border: none;
    border-radius: 0;
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    margin-top: 4rem;
    margin-left: 1rem;

    &::before,
    &::after {
        background-color: #fff;
        height: 2px;
        width: 4.5rem;
        content: "";
        display: block;
    }

    &::before { transform: translateY(-1.5rem); }
    &::after { transform: translateY(1.3rem); }
}

}
}