.potofolio{
    width: 84vw;
    height: 41.5rem;
    margin: 4rem auto;

    &__cards{
        width: 84vw;
        height: 28rem;
       
        display: flex;
        justify-content: space-around;
    }
    &__card1{
        width: 22rem;
        height: 17rem;
       

        background: url(../img/pc1.png);
        border: 8px solid red;
        border-radius: 8px;
    }
    &__card2{
        width: 22rem;
        height: 17rem;
       

        background: url(../img/pc2.png);
        border: 8px solid red;
        border-radius: 8px;
    }
    &__card3{
        width: 22rem;
        height: 17rem;
       

        background: url(../img/pc3.png);
        border: 8px solid red;
        border-radius: 8px;
    }

}