.service{
    width: 84vw;
    height: 54rem;
    margin: 4rem auto;
    background-color: burlywood;

    
    &__cards{
        width: 84vw;
        height: 21rem;
        margin: 4rem auto;

        display: flex;
        justify-content: space-around;
    }
    &__card{
        width: 26vw;
        height: 20rem;
    }
    &__icon{
        width: 45.79px;
        height: 45.79px;
        margin: 1rem 2rem 1rem 18rem;
    }
}