.service{
    width: 84vw;
    height: 54rem;
    margin: 6rem auto;
  

    
    &__cards{
        width: 84vw;
        height: 21rem;
        margin: 1rem auto;

        display: flex;
        justify-content: space-around;
    }
    &__card{
        width: 25.5rem;
        height: 20rem;
    }
    &__icon{
        width: 45.79px;
        height: 45.79px;
        margin: 1rem 1rem 1rem 10rem;
    }
    &__play{
        width: 7rem;
        height: 8rem;
        margin-left: 14rem;
        margin-top: 4rem;
    }
    &__cross{
        width: 4rem;
        height: 4rem;
        margin-top: 8rem;
        transform: rotate(-31.42deg);
    }
    &__heading{
        display: flex;
    }
}