.heading1{
    font-family: 'Roboto';
    font-style: bold;
    font-weight: 700;
    font-size: 5.3rem;
    line-height: 5.6rem;
    color: #FFFFFF;
    width: 38rem;
    text-align: left;
    margin: 8rem auto 1rem auto;
}
.heading2{
    font-family: 'Roboto';
    font-style: bold;
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.6rem;
    width: 39rem;
    text-align: left;
    color: #FFFFFF;
}

.heading6{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.6rem;
    text-align: left;
    letter-spacing: -0.43573px;

    color: rgba(255, 255, 255, 0.7);
    width: 35rem;
    margin: 2rem auto;
}
.heading7{
    
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 26px;
    letter-spacing: -0.43573px;
    width: 39rem;
    color: rgba(255, 255, 255, 0.7);
}