.heading1{
    font-family: 'Nunito Sans';
    font-style: bold;
    font-weight: 900;
    font-size: 5.3rem;
    line-height: 5.6rem;
    color: #FFFFFF;
    width: 38rem;
    text-align: left;
    margin: 8rem auto 1rem auto;
    @include respond(phone) {
            
        font-size: 4.2rem;
    } 
}
.heading2{
    font-family: 'Nunito Sans';
    font-style: bold;
    font-weight: 900;
    font-size: 4rem;
    line-height: 5rem;
    width: 40vw;
    text-align: left;
    color: #FFFFFF;
    padding-right: 18rem;
    @include respond(tab-port) {
        font-size: 3rem;
        width: 60vw;
    }
    @include respond(phone) {
            
        width: 84vw;
        padding: .5rem;
    } 
    
}
.heading2__1{
    font-family: 'Nunito Sans';
    font-style: bold;
    font-weight: 900;
    font-size: 4rem;
    line-height: 5rem;
    width: 40vw;
    text-align: center;
    color: #FFFFFF;
    margin: 0rem 18rem;
    @include respond(tab-port) {
        font-size: 3rem;
        width: 70vw;
    }
    @include respond(phone) {
            
        font-size: 3.6rem;
        width: 84vw;
        font-weight: 700;
        background-color: greenyellow;
        display: inline-block;
        text-align: left;
        margin: 1rem auto;
    } 
}
.heading3{
    font-family: 'Nunito Sans';
    font-size: 3.8rem;
    font-weight: 800;
    line-height: 5.3rem;
    letter-spacing: 0em;    
    text-align: center;
    margin: 4rem auto;
}
.heading3__1{
    font-family: 'Nunito Sans';
    font-size: 3.8rem;
    font-weight: 900;
    line-height: 5.3rem;
    letter-spacing: 0em;    
    text-align: left;
    margin: 1rem auto 1rem 12rem;
    @include respond(tab-port) {
        font-size: 3rem;
    }

}
.heading4{
    font-family: 'Nunito Sans';
    font-size: 19px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
        
}

.heading6{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.6rem;
    text-align: left;
    letter-spacing: -0.43573px;

    color: rgba(255, 255, 255, 0.7);
    width: 35rem;
    margin: 2rem auto;
    @include respond(phone) {
            font-size: 1.6rem;
    } 
}
.heading7{
    
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 26px;
    letter-spacing: -0.43573px;
    width: 40vw;
    color: rgba(255, 255, 255, 0.7);
    @include respond(phone) {
            
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 24px;
        width: 84vw;
    } 
  
}
.heading8{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13.2738px;
    line-height: 19px;
    padding: 1rem 3rem;

    text-align: center;
    letter-spacing: -0.331985px;

    color: rgba(255, 255, 255, 0.7);

}